:root {
  --black: #141414;
  --grey: #292929;
  --grey-l: #3d3d3d;
  --white: #e5e5e5;
  --cyan: #89f8f6;
  --yellow: #f4d668;
  --magenta: #c53b88;
  --teal: #64d6a3;
  --orange: #e37246;
  --pink: #e37246;
  --purple: #8737eb;

  --gradient-spark: linear-gradient(
    113deg,
    rgba(215, 41, 139, 1) 0%,
    rgba(89, 252, 247, 1) 50%,
    rgba(251, 214, 81, 1) 74%,
    rgba(255, 255, 255, 1) 120%
  );
  --gradient-jade: linear-gradient(90deg, #5bf0f7, #93f9b1 83%, #fffebc 100%);
  --gradient-topaz: linear-gradient(
    124deg,
    var(--cyan),
    #e65ef4 80%,
    var(--purple) 100%
  );
  --gradient-amethyst: linear-gradient(82deg, #fe239d, #81ace7);
  --gradient-amber: linear-gradient(
    99deg,
    var(--yellow),
    var(--orange) 20%,
    var(--magenta) 100%
  );

  --text-white: #e5e5e5c5;
}

* {
  box-sizing: border-box;
}

html {
  /* fixing mobile viewport */
  height: -webkit-fill-available;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.75;
  color: var(--text-white);
  background-color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1,
.h1-size {
  margin-top: 0;
  font-size: 3.052rem;
}

h2,
.h2-size {
  font-size: 2.441rem;
}

h3,
.h3-size {
  font-size: 1.953rem;
}

h4,
.h4-size {
  font-size: 1.563rem;
}

h5,
.h5-size {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.link,
.link:visited {
  color: var(--text-white);
}

/*                                site */
.site__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.site__sparklogo {
  display: flex;
  max-height: 67px;
}

/* 
.debug {
  position: fixed;
  left: 0;
  top: 0;
} */

.text__link,
.text__link:visited {
  color: white;
  text-decoration: none;
}

.text__link:hover {
  text-decoration: underline;
}

/*                                menu */

.menu__sparklogo--container {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

.menu__content--container {
  flex-direction: column;
  display: flex;
  height: 70vh;
  width: 50%;
  min-width: 350px; /* TODO: temporary workaround for responsive */
}

.menu__navigation--container {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.menu__router {
  display: flex;
  flex-direction: column;
}

.menu__router--container a {
  text-decoration: none;
}

.menu__linkbutton {
  background: linear-gradient(25deg, var(--black), var(--orange));
  margin: 30px;
  padding: 15px;
}

.menu__linkbutton:hover {
  background: linear-gradient(25deg, var(--black), var(--orange));
  filter: brightness(1.1);
}

.menu__linkbutton--title,
.menu__linkbutton--title:visited {
  font-size: 2.441rem;
  line-height: 1.1;
  color: var(--white);
}

.menu__linkbutton--subtitle,
.menu__linkbutton--subtitle:visited {
  font-size: 1.25rem;
  color: var(--text-white);
}

.menu__linkbutton--back,
.menu__linkbutton--back:visited {
  color: var(--white);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}

.menu__linkbutton--back:hover {
  color: var(--black);
  background-color: var(--white);
  padding: 5px;
}

/*                              game */

.game__container {
  flex-direction: column;
  display: flex;
  height: 90vh;
  width: 100%;
  min-width: 350px; /* temp?! */
}

.navbar {
  display: flex;
  width: 100%;
  height: 10vh;
  min-height: 120px;
  bottom: 0;
  left: 0;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.profile__navbar {
  position: fixed;
}

.game__navbar {
  position: absolute;
}

.game__navbar--back {
  display: flex;
  width: 10%;
  max-width: 7%;
  margin-right: 20px;
  justify-content: center;
  align-items: flex-end;
}

.game__navbar--logo {
  margin: 10px;
}

.game__profile--container {
  margin-bottom: 20vh;
}

.game__shuffle--btn {
  /* TODO - remove this temporary element!! */
  cursor: pointer;
}

.game__picture-page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.modeicon {
  max-width: 300px;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: opacity(0.5) brightness(1.4);
}

/*                        picture card */

.card__picture--thumb {
  border: 15px solid;
  border-width: 15px;
  border-image-slice: 1;
  border-image-source: var(--gradient-amethyst);
  max-height: 40vh;
  max-width: 80vw;
}

.card__picture:hover {
  background-color: transparent;
  z-index: 50;
}

.card__picture span {
  position: absolute;
  padding: 10px;
  left: -1000px;
  visibility: hidden;
}

.card__picture span img {
  padding: 2px;
  min-height: 40vh;
  max-height: 70vh;
  max-width: 60vw;
}

.card__picture:hover span {
  visibility: visible;
  top: 0;
  left: 125px;
}

.card__picture--question {
  background: var(--gradient-spark);
  display: inline;
  padding: 5px;
  color: var(--grey);
  font-size: 1.6em;
  font-weight: 700;
}

/*                      question card */

.swipe {
  position: absolute;
  cursor: grab;
  z-index: 50;
}

.game__question-card {
  border-radius: 20px;
  padding: 20px 40px 20px 50px;
  width: 30vw;
  height: 30vh;
  min-width: 360px;
  min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 680px) {
  /* mobile cards can be slightly taller */
  .game__question-card {
    height: 45vh;
    max-height: 350px;
  }
}

.game__question-card--container {
  overflow: hidden !important;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 90vh;
  width: auto;
  position: relative;
}

@media (max-width: 680px) {
  .game__question-card--container {
    position: inherit;
  }
}

.game__question-card--content-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.game__question-card--title {
  color: var(--grey);
  margin-bottom: 2em;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2em;
  height: 150px;
  word-break: break-word;
  pointer-events: none;
}

.game__question-card--yellow {
  background-image: var(--gradient-amber);
}

.game__question-card--magenta {
  background-image: var(--gradient-amethyst);
}

.game__question-card--cyan {
  background-image: var(--gradient-jade);
}

.game__question-card--icons-container {
  margin-left: 5px;
  pointer-events: none;
}

.game__question-card--icon {
  color: var(--grey);
  cursor: pointer;
  padding: 0.1em;
  transition: color 0.4s;
  pointer-events: all;
}

.game__question-card--icon:hover {
  color: var(--text-white);
}

.container {
  height: 60vh !important;
}
